[defaults]
# 1. Adiós a poner -i hosts
inventory = ./hosts

# 2. Adiós a los errores de huella digital (Fingerprint)
host_key_checking = False

# 3. Evita que se creen archivos .retry cuando algo falla (ensucian la carpeta)
retry_files_enabled = False

# 4. Silencia advertencias molestas de Python
interpreter_python = auto_silent

# 5. Opcional: Hace que la salida sea más legible
stdout_callback = yaml
